# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/

# Flask specific
instance/
.pytest_cache/

# IDEs & Editors
.vscode/
.idea/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

